.btn{
    background-color: beige;
    position: absolute;
    right: 10vw;
}

.taskName{
    position: absolute;
    left: 10vw;
}
/* .label{
    background-color: peru;
    position: relative;
    border-radius: 12px;
    margin-left:15vw;
} */
.input{
    width: max-content;
}


.ul li{
    position: relative;
    line-height: 50px;
    width: 60vw;
    height: 5vh;
    background-color: hotpink;
    margin: 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.taskStatus{
    background-color: peru;
    position: relative;
    border-radius: 12px;
    margin-left:15vw;
}