.btn{
    background-color: beige;
    position: absolute;
    left:50vw;
}
.label{
    background-color: peru;
    position: absolute;
    border-radius: 12px;
    left:40vw;
}
.input{
    width: max-content;
}

.li{
    line-height: 50px;
    width: 30vw;
    background-color: hotpink;
    margin: 10px;
    border-radius: 12px;
}