.btn{
    background-color: beige;
    position: absolute;
    left:50vw;
}
.label{
    background-color: peru;
    position: absolute;
    border-radius: 12px;
    left:45vw;
}
.input{
    width: max-content;
}

.li{
    line-height: 50px;
    width: 500px;
    background-color: hotpink;
    margin: 10px;
    border-radius: 12px;
}

.ul{
    
    position:absolute;
}

.h1{
    vertical-align: middle;
}