.PageLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    margin: 0;
    border: 0;
    padding: 0;
}

.PageLayout header{
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2BA2FB;
    position: fixed;
    top:0;
    width: 100vw;
    height: 60px;
    margin: 0;
    border: 0;
    padding: 0;
}

.PageLayout header text{
    font-size: 25px;
    font-weight: bold;
    /* background-color: blue; */
}

/* .PageLayout header ul li{
    display: inline;
    margin: 10px 20px;
} */

.PageLayout main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:60px;
    width: 100vw;
    background:
    linear-gradient(to top,
    rgba(43,162,251, 0.9),
    rgba(253,253,253, 0.4));
}


.PageLayout footer li button{
    background-color: transparent;
    border: 0px;
    border-radius:40px;
    width: 130px;
    padding: 5px 20px;
    cursor: pointer;
}


.PageLayout footer li{
    display: inline;
    margin: 10px 20px;
}


.PageLayout footer div > img{
    position:absolute;
    right:1vw;
    width: 50px;
    border-radius: 25px;
}


.PageLayout footer div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.PageLayout footer{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3vh;
    height: 70px;
    width: 100vw;
    background-color: #2BA2FB;
    border-radius: 40px;
}



.PageLayout h3{
    position: absolute;
    bottom: -1.5vh;
}